/*Reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ================================================ */
/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local("Dosis Regular"), local("Dosis-Regular"), url("../fonts/dosis-v7-latin-regular.woff2") format("woff2"); }

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans-v15-latin-300.woff2") format("woff2"); }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v15-latin-regular.woff2") format("woff2"); }

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v15-latin-700.woff2") format("woff2"); }

body {
  color: #000;
  font: 400 13.33333px "Open Sans", Arial, sans-serif;
  background: #fff; }

/* MAIN STYLES */
/* ================================================ */
.main-wrapper {
  padding: 0;
  min-width: 320px;
  position: relative;
  overflow: hidden;
  opacity: 1;
  min-height: 100%; }

.wrapper {
  max-width: 1200px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative; }

img {
  display: block;
  max-width: 100%; }

span {
  display: inline-block; }

button:focus {
  outline: none; }

button:active {
  outline: none; }

.container {
  max-width: 1200px;
  padding: 0; }

.btn {
  width: 196px;
  height: 56px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-border-radius: 0;
          border-radius: 0; }

.line {
  max-width: 392px;
  height: 0;
  border: 1px solid #000000;
  margin: 5px 0; }

/* HEADER */
/* ================================================ */
.header-page {
  background: url("../img/header-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 0;
  padding-bottom: 450px; }

.header-nav {
  margin-bottom: 157px;
  height: 62px;
  background-color: rgba(0, 8, 13, 0.1); }
  .header-nav__list {
    height: 100%; }
  .header-nav__link {
    text-decoration: none;
    color: #606060;
    font-family: 'Dosis';
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.01px; }
    .header-nav__link:hover {
      color: #000000;
      border-bottom: 1px solid black;
      text-decoration: none; }

@media screen and (max-width: 991px) {
  .header-nav {
    display: block; }
  .header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    margin-top: 20px; }
  .header-nav__link {
    padding: 10px 0;
    display: block;
    font-weight: bold; }
  .navbar-toggler {
    border: 1px solid black;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3px; }
  .navbar-toggler-icon {
    width: 35px;
    height: 7px;
    background: #000;
    -webkit-border-radius: 5px;
            border-radius: 5px; } }

/* SECTION DISCOGRAPHY */
/* ================================================ */
.disco {
  padding-top: 65px;
  padding-bottom: 452px;
  background: url("../img/disco-bg.png") center bottom no-repeat; }
  .disco__text {
    max-width: 715px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 155px;
    color: #798285;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 1.65px; }

.album {
  margin-top: 113px; }

.album-left {
  width: 42%; }

.album__year {
  opacity: 0.65;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000; }

.album__name {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px; }

.album-descr {
  width: 55%; }
  .album-descr__title {
    color: #000000;
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.41px; }
  .album-descr__text {
    margin-top: 18px;
    margin-bottom: 30px;
    color: #acacac;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 24.27px; }

.album-descr__btn_bg1 {
  background: url(../img/btn-bg1.png); }

.album-descr__btn_bg2 {
  background: url(../img/btn-bg2.png);
  background-position-x: -1px; }

.album-descr__btn_bg3 {
  background: url(../img/btn-bg3.png);
  background-position-x: -1px; }

.album-descr__btn_black {
  color: black; }

@media screen and (min-width: 2000px) {
  .disco {
    -webkit-background-size: contain;
            background-size: contain; } }

@media screen and (max-width: 1260px) {
  .album {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .album-left {
    width: 90%; }
  .album-descr {
    margin-top: 20px;
    width: 75%; } }

@media screen and (max-width: 850px) {
  .disco {
    padding-bottom: 350px; }
  .album-left {
    width: 100%; }
  .album-descr {
    width: 100%; } }

@media screen and (max-width: 490px) {
  .disco {
    padding-bottom: 250px; }
  .disco__text {
    margin-bottom: 100px; } }

/* CONCERT TOUR */
/* ================================================ */
.tour .container {
  padding: 0 15px; }

.tour {
  padding: 0;
  padding-top: 165px; }
  .tour__text {
    max-width: 876px;
    color: #798285;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 1.65px;
    margin: auto;
    margin-top: 57px;
    margin-bottom: 117px; }

.one-tour-wrapper {
  background: url("../img/tour-bg.png") center bottom no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding-bottom: 250px;
  padding-top: 355px; }

.one-tour {
  max-width: 670px; }
  .one-tour__date {
    opacity: 0.65;
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left; }
  .one-tour__name {
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left; }
  .one-tour__period {
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.41px;
    margin-top: 80px;
    margin-bottom: 20px; }
  .one-tour__text {
    color: #798285;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.25px;
    margin-bottom: 38px; }
  .one-tour__btn {
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    border: 1px solid rgba(99, 99, 99, 0.44);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .one-tour__btn:hover {
      background: rgba(99, 99, 99, 0.44);
      color: white; }

@media screen and (max-width: 1260px) {
  .tour {
    padding-top: 100px; }
  .one-tour {
    margin: auto; }
  .tour__text {
    margin-bottom: 0; } }

@media screen and (max-width: 580px) {
  .one-tour-wrapper {
    padding-bottom: 150px;
    padding-top: 155px; } }

/* COMPOSITION */
/* ================================================ */
.composition {
  padding-top: 160px;
  padding-bottom: 140px;
  background-color: #fff;
  text-align: center; }
  .composition__title {
    margin-bottom: 55px;
    color: #000000;
    font-family: Dosis;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.96px;
    background: url("../img/line-throw.png") center center no-repeat; }
  .composition__text {
    max-width: 689px;
    margin: auto;
    color: #798285;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 1.65px;
    margin-bottom: 160px; }

.composition-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px; }

.composition-descr {
  width: 50%;
  padding: 30px 35px;
  padding-right: 60px;
  background-color: #f5f6f6;
  text-align: left;
  position: relative;
  min-height: 422px; }
  .composition-descr__name-song {
    color: #000000;
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.41px;
    margin-top: 43px;
    margin-bottom: 33px; }
  .composition-descr__text {
    color: #798285;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.25px;
    margin-bottom: 60px; }
  .composition-descr-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    bottom: 30px; }
    .composition-descr-social__btn {
      border: 1px solid #636363;
      color: #000000;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 700;
      line-height: 56px;
      padding: 0;
      margin-right: 35px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .composition-descr-social__btn:hover {
        background: rgba(99, 99, 99, 0.44);
        color: white; }

.social-small-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px; }
  .social-small-block__text {
    color: #999999;
    font-family: "Myriad Pro";
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px; }

.composition-video {
  width: 50%; }

.social-small-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 16px; }

@media screen and (max-width: 1230px) {
  .composition {
    padding-top: 100px;
    padding-bottom: 100px; }
  .composition-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .composition-descr {
    width: 70%;
    margin: auto; }
  .composition-video {
    width: 70%;
    margin: auto; }
    .composition-video img {
      width: 100%; }
  .composition-descr-social {
    position: static;
    margin-top: 75px; } }

@media screen and (max-width: 890px) {
  .social-small-block {
    display: none; } }

@media screen and (max-width: 770px) {
  .composition-descr {
    width: 100%; }
  .composition-video {
    width: 100%; }
  .composition {
    padding-right: 0;
    padding-left: 0; }
  .composition__title, .composition__text {
    margin-right: 15px;
    margin-left: 15px; } }

@media screen and (max-width: 555px) {
  .composition-descr {
    padding: 20px; } }

@media screen and (max-width: 410px) {
  .composition__title {
    font-size: 38px; }
  .composition__text {
    margin-bottom: 70px; } }

/* SECTION SLIDER */
/* ================================================ */
.slider-section {
  padding: 160px 0 85px 0;
  background: url("../img/slider-section-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .slider-section__notes {
    margin: auto;
    margin-bottom: 45px; }

.slider-wrapper {
  margin: auto;
  width: 882px; }

.sl-item {
  text-align: center; }
  .sl-item__title {
    color: #ffffff;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.27px;
    text-transform: uppercase;
    letter-spacing: 2.18px; }
  .sl-item__text {
    max-width: 510px;
    margin: auto;
    color: #798285;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.25px;
    margin-top: 45px;
    margin-bottom: 65px; }
  .sl-item__years {
    color: #565e61;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px; }

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 80px; }

.owl-carousel .owl-dot {
  width: 11px;
  height: 11px;
  border: 1px solid #ffffff !important;
  background-color: #ffffff !important;
  -webkit-border-radius: 50% !important;
          border-radius: 50% !important;
  margin: 0 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.owl-carousel .owl-dot.active {
  background: transparent !important; }

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  width: 85px;
  height: 171px;
  position: absolute;
  top: 10%; }

.owl-next span, .owl-prev span {
  display: none; }

.owl-next {
  background: url("../img/next-icon.png") !important;
  right: 0; }

.owl-prev {
  background: url("../img/prev-icon.png") !important;
  left: 0; }

@media screen and (max-width: 990px) {
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-prev {
    width: 45px;
    height: 91px;
    -webkit-background-size: cover !important;
            background-size: cover !important;
    top: 25%; }
  .slider-section {
    padding-top: 110px; }
  .sl-item__title {
    margin-left: 15px;
    margin-right: 15px; } }

@media screen and (max-width: 640px) {
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-prev {
    display: none; } }

@media screen and (max-width: 520px) {
  .sl-item__text {
    margin-left: 15px;
    margin-right: 15px; } }

/* SECTION SONGS */
/* ================================================ */
.songs-section {
  padding-top: 165px;
  padding-bottom: 100px; }

.songs-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.song {
  padding: 35px;
  width: 384px;
  min-height: 422px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 28px;
  position: relative; }
  .song__date {
    opacity: 0.65;
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
  .song__line {
    max-width: 312px;
    height: 0;
    border-bottom: 1px solid #000000; }
  .song__album {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
  .song__name {
    color: #000000;
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.41px;
    margin-top: 45px; }
  .song__text {
    color: #798285;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.25px;
    position: absolute;
    top: 207px;
    width: -webkit-calc(100% - 70px);
    width: calc(100% - 70px); }

.song1 {
  background: url("../img/song1-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.song2 {
  background: url("../img/song2-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.song3 {
  background: url("../img/song3-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.song4 {
  background: url("../img/song4-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.song5 {
  background: url("../img/song5-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.song6 {
  background: url("../img/song6-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

@media screen and (max-width: 1230px) {
  .songs-list {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }

@media screen and (max-width: 814px) {
  .sl-item__text {
    margin-left: 15px;
    margin-right: 15px; }
  .songs-section {
    padding: 100px 0 80px 0; } }

@media screen and (max-width: 780px) {
  .song__text {
    position: static;
    width: 100%;
    margin-top: 30px; } }

@media screen and (max-width: 410px) {
  .song {
    width: 100%; } }

/* SECTION Upcoming Events */
/* ================================================ */
.events-section {
  padding-top: 214px;
  padding-bottom: 188px;
  background: url("../img/events-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .events-section .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.events {
  width: 544px; }
  .events__title {
    margin-bottom: 119px; }
  .events__name-tour {
    color: #000000;
    font-family: "Open Sans";
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.41px; }
  .events__line {
    width: 132px;
    height: 0;
    border-top: 1px solid #000000;
    margin-top: 9px;
    margin-bottom: 12px; }
  .events__text {
    color: #798285;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 0.25px; }
  .events__date-tour {
    opacity: 0.65;
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }

.vertical-line {
  width: 0;
  height: 165px;
  border-left: 1px solid #000000;
  margin: 23px 0;
  margin-left: 35px; }
  .vertical-line_sm {
    height: 51px;
    margin: 12px 0;
    margin-left: 35px; }

@media screen and (max-width: 880px) {
  .events-section {
    padding-top: 100px;
    padding-bottom: 50px; }
    .events-section .container {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

@media screen and (max-width: 440px) {
  .events__title {
    margin-bottom: 70px; } }

/* SECTION HISTORY */
/* ================================================ */
.history {
  margin-top: 160px;
  padding-top: 15px;
  padding-bottom: 615px;
  background: url("../img/history-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center; }
  .history__title {
    color: #5b5c5a;
    font-family: Dosis;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.96px;
    background: url("../img/history-line-throw.png") center no-repeat; }
  .history__text {
    max-width: 810px;
    color: #798285;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24.27px;
    letter-spacing: 1.65px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 200px; }
  .history-line {
    width: 147px;
    height: 0;
    border: 1px solid #000000;
    opacity: 0.28;
    margin-top: 20px; }
  .history-days {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .history-day__date {
    color: #575a59;
    font-family: Dosis;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.19px;
    margin-bottom: 40px;
    cursor: pointer; }
  .history-day__text {
    width: 204px;
    color: #5a5a58;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.27px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0; }

.history-day__text.active {
  opacity: 1; }

@media screen and (max-width: 1110px) {
  .history-days {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .history-line {
    margin: auto; }
  .history-day__date {
    margin-top: 20px; }
  .history-day__text {
    margin: auto;
    margin-bottom: 40px;
    opacity: 1;
    color: black;
    font-weight: bold; }
  .history {
    margin-top: 100px;
    padding-bottom: 200px; }
  .history__text {
    margin-bottom: 100px; } }

/* SECTION CONTACT */
/* ================================================ */
.contact-section {
  margin-top: 120px;
  padding-top: 151px;
  padding-bottom: 290px;
  background: url("../img/contact-bg.png") center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .contact-section .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.contact {
  width: 550px; }
  .contact__title {
    color: #454545;
    font-family: Dosis;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.96px;
    background: url("../img/contact-line-throw.png") left center no-repeat;
    margin-bottom: 35px; }
  .contact__address, .contact__tel {
    color: #798285;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-bottom: 12px; }
  .contact-form {
    width: 382px; }
    .contact-form__input {
      width: 100%;
      padding: 10px 0;
      margin-bottom: 40px;
      border: none;
      background: transparent;
      border-bottom: 1px solid #000000;
      color: #798285;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.25px; }
      .contact-form__input:focus {
        outline: none; }
    .contact-form__btn {
      border: none;
      background: transparent;
      color: #000000;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer; }
      .contact-form__btn:focus, .contact-form__btn:active {
        outline: none; }

.contact-block {
  margin-top: 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.contact-line {
  width: 0;
  height: 191px;
  border-left: 1px solid #000000;
  margin-left: 120px;
  margin-top: 25px; }

.contact-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 191px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 0;
  margin-top: 25px;
  margin-left: 25px; }
  .contact-social__link {
    display: block; }
  .contact-social__facebook {
    width: 8px;
    height: 17px;
    background: url("../img/facebook-icon.png"); }
  .contact-social__instagram {
    width: 19px;
    height: 19px;
    background: url("../img/instagram-icon.png"); }
  .contact-social__twitter {
    width: 16px;
    height: 13px;
    background: url("../img/twiiter-icon.png"); }

@media screen and (max-width: 880px) {
  .contact-section {
    margin-top: 0; }
  .contact-section .container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media screen and (max-width: 580px) {
  .contact-line {
    margin-left: 70px; } }

@media screen and (max-width: 545px) {
  .contact-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .contact-form {
    width: 100%; }
  .contact-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    width: 100%;
    margin-left: 0; }
  .contact-line {
    display: none; } }
